
proc.json


# tests
tests
plots
test_*.py
.cache

# build dirs
__pycache__

# .py files
main.py
clipboard.py
example.py
pyflann_timing.py
action_space_run_simulation.py
show_results_temp.py
action_space_old.py
la_actor_tester.py
bin_exp_test.py

/src/ddpg/CartPole-v0

# .pyc files
*.pyc


# results
results/*
!results/jupyter_templates/
results/jupyter_templates/*
!results/jupyter_templates/*.ipynb

data

stable_distribution_list.py
